*   {
    font-family: 'Roboto', sans-serif;
}

header  {
    margin-left: 20%;
    background-color:#373867;   
    padding: 30px;
    
}

header h1   {
    display: inline;
    position: relative;
    color:rgb(255, 255, 255);
    font-size: 53px;
    left:0;
    top: 10px;
}

header h2   {
    position: relative;
    display: inline;
    top: 30px;
    right: 90px;
}

header section  {
    display: inline;
    position: absolute;
    top: 5px;
    right: 10px;
}

header img  {
    width: 30px;
}

.sidebar    {
    position: fixed;
    background-color: grey;
    font-size: 12px;
    text-align: left;
    width: 20%;
    height: 100%;
    top: 0%;

}

.sidebar input  {
    position: relative;
    left: 10%;
    top: 10px;
    height: 30px;
    width: 180px;
}

.sidebar li { /*links sidebar*/
    position: relative;
    list-style:none;
    top: 80px;
    margin-top: 10px;
}

.sidebar a  {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.sidebar img    {
    position: relative;
    width: 20px; /*tamaño de iconos de sidebar*/
    top: 5px;
    margin-right: 8px;
    margin-left: 30px;
}

#submenu    {
    display: inline-block;
    position: relative;
    padding: 10px;
    left: 19%;
    color: #AACE9B;
}

.contact-us {
    position: absolute;
    bottom: 20px;
}

.contact-us h3  {
    position: relative;
    font-size: 20px;
    left:40px;
    font-weight: bold;
    bottom: 40px;
}

.contact-us img {
    display: inline;
    position: relative;
    left: 5px;
}
.contact-us p   {
    position: relative;
    margin: 5px;
    right: 30px;
}

.track-section img  {
    position: relative;
    border-radius: 0% 5% 5% 0%;
    left: 20%;
    top: 40px; 
}

.track-section span   {
    display: block;
}

.track-section h3   {
    position: absolute;
    left: 22%;
    bottom: 50%;
    color: #AACE9B;
    font-size: 26px;
    font-weight: bold;
    line-height: 30px;
}

 #green-square-info  {
    display: block;
    position: absolute;
    background-color: #AACE9B;
    padding: 50px 12px;
    border-radius: 5%;
    line-height: 30px;
    right: 0;
    top: 80%;
}

#green-square-info span {
    display: block;
    color: #373867;
    font-size: 15px;
    font-weight: bold;
    text-align: right;
    letter-spacing: 2px;
}

#why-trackgenix {
    display: block;
    position: relative;
    top: 45px;
}

#why-trackgenix h3{
    text-align: center;
    margin: 40px;
}
 #why-trackgenix p   {
    display: block;
    position: relative;
    text-align: left;
    margin:30px 0px 30px 32%;

}

#why-trackgenix span    {
    position: relative;
    display:block;
}

.burbles span   {
    display: block;
}