header  {
    background-color:#373867;
    font-family: default; /*Añadir fuente original*/    
    font-weight: bold;
    padding: 30px;
    
}

header h1   {
    position: relative;
    font-size: 53px;
    left: 30%;
    top: 10px;
}

header h2   {
    position: relative;
    display: inline;
    top: 10px;
    right: -620px;
}

header section  {
    display: inline;
    position: absolute;
    top: 0;
    right: 10px;
}

header img  {
    width: 30px;
}

.sidebar    {
    background-color: rgba(55, 56, 103, 40%);
    font-size: 12px;
    text-align: left;

}

.sidebar li {
    display: block; /*links sidebar*/
}

.sidebar a  {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.sidebar img    {
    position: relative;
    width: 20px; /*tamaño de iconos de sidebar*/
    top: 5px;
    margin-right: 8px;
    margin-left: 30px;
}