body    {
    font-family: 'Roboto', sans-serif;
    background-color: #D9D9D9;
}

header  {
    position: absolute;
    background-color: #373867;
    width: 80%;
    left: 20%;
    padding-top: 80px;
}

header h1   {
    position: relative;
    display: inline;
    color: white;
    left: 5%;
    bottom: 30px;
    font-size: 91px;
    font-weight: bold;
}

header h2   {
    position: relative;
    display: inline;
    bottom: 15px;
    right: 70px;
    font-size: 11px;
    width: 80%;
}

header section  {
    display: inline;
    position: absolute;
    top: 5px;
    right: 10px;
}

header img  {
    width: 31px;
}

.sidebar    {
    position: absolute;
    float: left;
    background-color: #707070;
    left:0;
    height: 100%;
    width: 20%;
}

.sidebar img    {
    width: 20px;
}
.sidebar a  {
    text-decoration: none;
    color: white;
}

.sidebar h3 {
    font-size: large;
}

.sidebar p  {
    display: inline;
    font-size: small;
}

.track-section  {
    position: absolute;
    display:inline;
    left: 20%;
    top: 228px;
}

.track-section span {
    display: block;
}

.track-section h3    {
    position: absolute;
    color: #AACE9B;
    top: 17px;
    left: 17px;
    font-size: 29px;
    font-weight: bold;
}

.track-section img  {
    border-radius: 0 12% 12% 0;
}

#green-square-info  {
    position: absolute;
    display: inline-block;
    background-color: #aace9bbe;
    width: 370px;
    height: 270px;
    right: 0;
    bottom: -180px;
    border-radius:5% 0% 0% 5%;
}

#green-square-info span {
    display: inline-block;
}

#green-square-info p    {
    position: relative;
    color: #373867;
    line-height: 40px;
    letter-spacing: 2px;
    word-spacing: 2px;
    text-align: right;
    font-weight: 800;
    font-size: 17px;
    top: 15px;
    right: 28px;
}

#why-trackgenix {
    position: absolute;
    display: inline-block;
    bottom: -879px;
    right: 400px;
    width: 600px;
}

#why-trackgenix h3  {
    position: relative;
    text-align: center;
    font-size: 34px;
    margin-bottom: 20px;
    margin-right: 150px;
}

#why-trackgenix span    {
    display: block;
}

#why-trackgenix p   {
    position: relative;
    text-align: left;
    color:#373867;
    font-size: 23px;
    left: 0px;
    margin-bottom: 20px;
    line-height: 37px;

}

.burble-text span   {
    display: block;
    color: #AACE9B;
}

.burble-text section  {
    background-color: #373867;
    width: 150px;
    height: 131px;
    border-radius: 50%;
    border: 8px solid rgb(100, 100, 100);
}

.burble-text p  {
    text-align: center;
    margin-top: 50px;
    font-size: 16px;
    font-weight: bolder;
    color: white;
}

#burble-1   {
    position: absolute;
    top: 840px;
    right: 250px;
}

#burble-2   {
    position: absolute;
    top: 1040px;
    right: 100px;
}

#burble-3   {
    position: absolute;
    top: 1240px;
    right: 250px;
}

#burble-3 p {
    margin-top: 40px;
}

#burble-4   {
    position: absolute;
    top: 1440px;
    right: 100px;
}