header  {
    display: flex;
    background-color: #373867;
    flex-direction: column;
}

header h1   {
    color: #fff;
    font-size: 64px;
    font-weight: bold;
    margin-top: 4%;
    text-align: center;
}

header h2   {
    display: flex;
    font-size: 10px;
    justify-content: center;
    padding-left:230px;
}

.header-img img{
    border-radius: 0 0 77px 77px;
    width: 100%;
}

.header-menu-ellipsis    {
    display: flex; 
    font-size: 35px;
    height: 35px;
    justify-content: flex-end;
    margin: 0 25px;
    color: #fff;
}
.header-socialmedia {
    display: none;
}

@media only screen and (min-width: 480px) {

    header h1   {
        font-size: 100px;
        margin-bottom: 15px;
    }

    .header-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-socialmedia {
        display: flex;
        align-items: flex-start;
    }

    .header-socialmedia img {
        width: 30px;
        margin:16px 15px 16px 0;
    }

    .header-text h2 {
        background-color: #fff;
        padding-top: 1%;
        padding-bottom: 1%;
    }

    .header-img {
        display: none;
    }
}

@media only screen and (min-width: 1024px) {
    header h1 {
        font-size: 128px;
        margin-top: 0;
    }
    .header-text h2 {
        display: block;
        text-align: right;
        background-color: #373867;
        margin-top: -25px;
        padding-right: 250px;
        font-size: 17px;
    }
}