header  {
    display: flex;
    background-color: #373867;
    flex-direction: column;
}

header h1   {
    color: #fff;
    font-size: 64px;
    font-weight: bold;
    margin-top: 4%;
    text-align: center;
}

header h2   {
    display: flex;
    font-size: 10px;
    justify-content: center;
    padding-left:230px;
}

header img  {
    border-radius: 0 0 77px 77px;
}
.socialmedia-header {
    display: none;
}