.main-section-1 {
    display: flex;
    background-color: #373867;
    flex-direction: column;
    gap: 20px;
}

.main-section-1 #main-section-1-text {
    color: #AACE9B;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    padding-left: 29px;
    padding-top: 15px;
    line-height: 19px;
}

.main-section-1 img {
    display: none;
}

#main-section-1-burble {
    display: flex;
    flex-direction: column;
    background-color: rgba(170, 206, 155, 0.82);
    color: #373867;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 127.67%;
    border-radius: 58px;
    padding: 8% 6%;
}

#main-section-1-subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

#main-section-1-subtitle h3 {
    font-size: 30px;
    font-weight: 700;
    margin: auto
}

#main-section-1-subtitle p {
    font-size: 14px;
    line-height: 17px;
    margin: 3% 5%;
    font-family: 'Inter', sans-serif;
    text-align: justify;
}

#main-burbles-features {
    display: none;
}

/* Square-functions */
#main-section-2  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 75%;
    margin: auto;
}

#main-section-2 section {
    display: flex;
    background-color: #AACE9B;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 125px;
    height: 115px;
    margin: 14px 0 57px;
    border-radius: 8px;
}

#main-section-2 p {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25px;
    color: black;
    row-gap: 15px;
    font-weight: 700;
}

#main-section-2 img {
    display: block;
    height: 38px;
}

/* Square-functions */

#main-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(217, 217, 217, 0.28);
    border-radius: 10px;
}

#main-article h3 {
    font-size: 30px;
    font-weight: 700;
    margin: 5% 0;
}

#main-article p {
    font-size: 14px;
    line-height: 150%;
    margin: 0 11%;
}

.main-form {
    margin-top: 8%;
}

.main-form h3 {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.8);
    text-align: left;
    margin-left: 5%;
    margin-bottom: %;
}

.main-form form {
    display: flex;
    flex-direction: column;
    margin: 0 5%;
}

.main-form fieldset {
    margin: 5% 0;
}

.main-form label {
    display: inline-block;
    font-size: 16px;
    margin-bottom: 1%;
}

.main-form #name, #email {
    font-size: 16px;
    width: 98%;
    height: 75%;
}

/* Search placeholder alignament */

#name::placeholder {
    font-size: 16px;
}

#email::placeholder {
    font-size: 16px;
}

.main-form-inputs-radio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 14px;
    color: #373867;
    font-weight: 500;
}

.main-form-selection-radio  {
    display: block;
    padding-top: 2%;
    padding-right: 6%;
}

.main-form-inputs-message-area  {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.main-form-inputs-message-area textarea {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.main-form-inputs-message-area textarea::placeholder {
    font-size: 16px;
}
.main-form-inputs-request   {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}
.main-form-inputs-request input {
    background-color: #AACE9B;
    color: #fff;
    border-radius: 5px;
    border: 0;
    font-size: 16px;
    width: 99%;
    height: 38px;
}

.main-info-about    {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
}

.main-info-about-blocks {
    display: block;
    font-size: 16px;
}

.main-info-about-block-1    {
    order: 1;
}
 
.main-info-about-block-2    {
    order: 3;
    margin-right: 5%;
}

.main-info-about-block-3    {
    order: 2;
}

.main-info-about-blocks h5  {
    font-weight: bold;
}

.main-info-about a {
    text-decoration: none;
    color: black;
    display: block;
    width: 80px;
}

.main-info-about ol {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    list-style:decimal;
    margin-left: 20%;
    margin-top: 10%;
}

.main-contact-us ol:first-child a{
    display: block;
}

.main-contact-us    {
    display: flex;
    flex-direction: column;
    row-gap: 27px;
    margin: 14% 0;
}

.main-contact-us h3{
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    font-weight: 700;
}


.main-contact-us-content    {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 21px;
}

.main-contact-us i  {
    font-size: 30px;
    color: #373867;
    margin-right: 10px;
}

.fa-building   {
    margin-left:5px;
}

.main-contact-us p  {
    display: flex;
    align-items: center;
    margin-left: 23px;
    font-size: 14px;
}


.socialmedia-icons-footer, footer {
    background-color: #373867;
    color: #fff;
    font-size: 11px;
    text-align: center;
}

.socialmedia-icons-footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: 15%;
}

.socialmedia-icons-footer img   {
    width: 45px;
    margin: 8px;
}

#linkedin-icon  {
    order: 3;
}

#facebook-icon  {
    order: 2;
}

@media only screen and (min-width: 480px) {
    .main-section-1-img-with-text    {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: flex-start;
        margin-top: 12%;
    }

    #main-section-1-text    {
        display: inline;
        z-index: 1;
        margin-bottom: -100px;
    }
    
    .main-section-1 {
        margin-left: 0;
    }

    #main-section-1-subtitle    {
        display: flex;
        flex-direction: row;
        margin-top: 50px;
    }

    .main-section-1-subtitle-text {
        display: flex;
        justify-content: center;
    }

    .main-section-1-subtitle-text {
        text-align: center;
        margin:auto;
    }

    #main-burbles-features  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #main-burbles-features  p {
        display: inline-block;
        background-color: #AACE9B;
        border-radius: 50%;
        border: 4px solid black;
    }


    #main-section-1-text h3 {
        font-size: 160%;
        font-weight: 700;
        line-height: 28px;
    }

    #main-section-1-text span   {
        display: block;
    }

    .main-section-1 img     {
        display: flex;
        width: 80%;
        height: 100%;
        border-radius: 0 77px 77px 0;
        justify-content: flex-start;
    }

    .main-section-1-img img{
        display: block;
        width: 100%;
        min-height: 100%;
        object-fit:scale-down;
    }

    #main-section-1-burble  {
        display: inline;
        margin-right: 0;
        text-align: right;
        padding: 5px;
        border-radius: 15px 0 0 15px;
        margin-left: auto;
        margin-top: -200px;
        margin-bottom: -20px;
        width: 25%;
    }
    #main-section-1-burble p    {
        display: inline;
        text-align: right;
    }
    
    #main-section-2 {
        background-color: #E5E5E5;
        padding: 0 12%
    }

    #main-section-2 section     {
        min-width: 25%;
        min-height: 100%;
        margin-bottom: 71px;
        margin: 14px 10% 71px 5%;
    }

    #main-section-2 img     {
        width: 50px;
    }

    .main-section-3  {
        display: flex;
        flex-direction: column;
    }


    #main-article   {
        order: 1;
        width: 90%;
        margin: auto;
        margin-bottom: 50px;
    }

    .main-info-about-blocks {
        margin: auto;
    }

    footer  p {
        font-size: 15px;
    }

}

@media only screen and (min-width: 1024px)  {
    .main-section-1 {
        margin-left: 18%;
    }

    #main-section-1-subtitle    {
        display: flex;
        flex-direction: row;
    }

    .main-section-1-subtitle-text {
        display: flex;
    }

    .main-section-1-subtitle-text h3 {
    }

    #main-burbles-features  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #main-burbles-features  p {
        display: inline-block;
        background-color: #AACE9B;
        border-radius: 50%;
        border: 4px solid black;
    }

    #main-article   {
        order: 0;
        margin-left: 10%;
    }

    .main-form  {
        margin-left: 20%;
    }

    .main-info-about    {
        margin: auto;
        padding-left: 12%;
        width: 80%;
    }

    .main-contact-us    {
        margin-left: 25%;
    }

    .main-form #name, #email   {
        width: 342px;
    }
}